<div class="container-fluid" >
  <h1>Recording List</h1>

  <mat-tab-group style="height: 1000px;">

    <mat-tab label="All Shabads of the Selected Raagi" layout-fill>
      <div *ngIf="selectedRaagi">
        <br>
        <h3>{{selectedRaagi}}</h3>
        <br>
        <div *ngFor="let shabad of shabadsOfSelectedRaagi; let i = index">
          <h4><b>{{i+1}}</b>:  <mark [ngStyle]="{'background-color': '#1e88e5', 'color': '#fafafa'}" >{{shabad['shabad_length']}}</mark>  -  {{shabad['shabad_english_title']}}</h4>
        </div>
      </div>

    </mat-tab>

    <mat-tab label="Recent Recordings"  layout-fill>
      <br>
      <label>Recording Title</label>
      <br>
      <ng-select
        *ngIf="recentRecordings.length"
        (selected)="onRecordingTitleSelected($event.text)"
        [items]="recentRecordings">
      </ng-select>
      <br>
      <div *ngIf="shabadList.length > 0; else spaces">
        <div *ngFor="let shabad of shabadList; let i = index">
          <span>{{i+1}}: {{shabad}}</span>
        </div>
      </div>
      <br><br><br><br><br><br>
      <ng-template #spaces><br><br><br><br><br><br><br><br><br><br><br></ng-template>
    </mat-tab>

    <mat-tab label="Shabads" layout-fill>
      <br>
      <label>Shabad Title</label>
      <br>
      <ng-select
        *ngIf="allShabadList.length"
        (selected)="onShabadTitleSelected($event.text)"
        [items]="allShabadList">
      </ng-select>
      <br>
      <div *ngIf="panktiList.length > 0; else spaces">
        <div *ngFor="let pankti of panktiList">
          <span style='font-family: GurbaniLipi; font-size: 19px'>{{pankti}}</span>
        </div>
      </div>
      <br><br><br><br><br><br>
      <ng-template #spaces><br><br><br><br><br><br><br><br><br><br><br></ng-template>
    </mat-tab>

  </mat-tab-group>

</div>

