<div class="container-fluid">

  <h1>Shabads</h1>

  <br>

  <div class="form-group">

    <div class="row">

      <!--Raagi Name, Recordings, Shabads Dropdown, Change Shabad Title-->
      <div class="col-md-4">

        <!--Select Raagi Name-->
        <div>
          <label for="raagiName">Raagi Name</label>
          <br>
          <ng-select id="raagiName"
                     *ngIf="raagi_names.length > 0"
                     placeholder="Select Raagi Name"
                     (selected)="onRaagiSelected($event)"
                     [items]="raagi_names">
          </ng-select>
          <br>
        </div>

        <!--Recordings, Open Recording, Upload Recording to AWS, Delete Recording-->
        <div *ngIf="selected_raagi">
          <label for="recordings">Recordings</label>
          <br>
          <ng-select
            id="recordings"
            *ngIf="recording_titles.length > 0"
            placeholder="Select Recording"
            (selected)="onRecordingTitleSelected($event)"
            [items]="recording_titles">
          </ng-select>
          <br>
          <div *ngIf="selected_recording_title">
            <button class="btn btn-primary btn-md" type="submit" (click)="uploadRecordingToAWS()">
              Upload Recording
            </button>
            <button class="btn btn-primary btn-md" type="submit" (click)="setStatusToPROD()">
              Set This Recording's Shabad Status To PROD
            </button>
          </div>
          <br>
        </div>

        <!--Shabads, Shabad Title Change Option, Upload Shabad to AWS-->
        <div *ngIf="selected_recording_title">
          <label for="shabads">Shabads</label>
          <br>
          <ng-select
            id="shabads"
            *ngIf="shabad_english_titles.length > 0"
            placeholder="Select Shabad"
            (selected)="onShabadSelected($event)"
            [items]="shabad_english_titles">
          </ng-select>

          <br>

          <label for="shabadTitle">Shabad Title: </label>&nbsp;&nbsp;
          <input type="text" id="shabadTitle" style="width:250px;" [(ngModel)]="selected_shabad_english_title">&nbsp;&nbsp;
          <button class="btn btn-primary btn-md" type="button" (click)="changeShabadTitle()">Change Shabad Title</button>&nbsp;
          <button class="btn btn-primary btn-md" type="submit" *ngIf="selected_shabad_obj" (click)="uploadShabadToAWS()">Upload Shabad</button>
        </div>

        <br>

      </div>

      <!--Shabad Pankti-->
      <div class="col-md-8" *ngIf="shabad_panktis.length > 0">

        <div class="col-md-5 text-center">
          <div *ngFor="let pankti of shabad_panktis">
            <span style='font-family: GurbaniLipi; font-size: 23px; text-align: center;'>{{pankti}}</span>
          </div>
          <br><br><br>
          <div *ngIf="selected_shabad_obj['shabad_checked']">
            <span style="font-size:5.5em;" class="glyphicon glyphicon-ok"></span>
          </div>
          <div *ngIf="!selected_shabad_obj['shabad_checked']">
            <span style="font-size:5.5em;" class="glyphicon glyphicon-remove"></span>
          </div>
        </div>

        <button class="btn btn-primary btn-sm" (click)="showMoreLines()">Show More Lines</button>
        <button class="btn btn-primary btn-sm" (click)="removeExtraLines()">Remove Extra Lines</button>

        <br><br>

        <input type="text" id="changeStartingID" style="width:250px;" [(ngModel)]="selected_shabad_starting_id">&nbsp;&nbsp;
        <button class="btn btn-primary btn-md" type="button" (click)="changeStartingID()">Change Starting ID</button>&nbsp;

        <br><br>

        <input type="text" id="changeEndingID" style="width:250px;" [(ngModel)]="selected_shabad_ending_id">&nbsp;&nbsp;
        <button class="btn btn-primary btn-md" type="button" (click)="changeEndingID()">Change Ending ID</button>&nbsp;
      </div>

    </div>

    <br><br>

    <div class="row" *ngIf="selected_recording_title">

      <div class="col-lg-12">
        <audio #shabadPlayer style="width:100%; height: 50%;" controls src="{{selected_recording_url}}" preload=”auto” (keyup.enter)="onKey($event)">
          HTML5 audio not supported
        </audio>
        <button class="btn btn-primary btn-sm" (click)="rewind()">Rewind</button>&nbsp;
        <button class="btn btn-primary btn-sm" (click)="forward()">Forward</button>
        <input type="text" id="jumpTo" style="width:70px;" [(ngModel)]="jumpToTime">&nbsp;&nbsp;
        <button class="btn btn-primary btn-sm" (click)="jumpTo()">Jump To</button>&nbsp;

        <br><br>

        <!--Shabad Info-->
        <div *ngIf="shabad_panktis.length > 0">
          <audio #shabadPlayer style="width:100%; height: 50%;" controls src="{{selected_shabad_url}}" preload=”auto” (keyup.enter)="onKey($event)">
            HTML5 audio not supported
          </audio>
          <span style='color: indianred; font-size: 20px; text-align: center;'>Shabad Length: {{selected_shabad_obj['shabad_length']}}</span><br>
          <span style='color: indianred; font-size: 20px; text-align: center;'>Shabad Starting Time: {{selected_shabad_obj['shabad_starting_time'].replace(':', '')}}</span><br>
          <span style='color: indianred; font-size: 20px; text-align: center;'>Shabad Ending Time: {{selected_shabad_obj['shabad_ending_time'].replace(':', '')}}</span><br>
          <span style='color: indianred; font-size: 20px; text-align: center;'>Shabad Sathaayi ID: {{selected_shabad_obj['sathaayi_id']}}</span><br>
          <span style='color: indianred; font-size: 20px; text-align: center;'>Shabad Starting ID: {{selected_shabad_obj['starting_id']}}</span><br>
          <span style='color: indianred; font-size: 20px; text-align: center;'>Shabad Ending ID: {{selected_shabad_obj['ending_id']}}</span><br>
        </div>

      </div>

    </div>

  </div>

</div>
