<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <title><!-- http://localhost:4200/recordings -->

        <!--
          NOTES:

          * http://localhost:4200/recordings
          * The name attribute is required when you add ngModel to an element.
          *

          -->



        <div class="container">
          <h1>Recording Form</h1>
          <form (ngSubmit)="onSubmit(recordingForm.value)" #recordingForm="ngForm">

            <!-- Raagi Name -->
            <div class="form-group">
              <label for="raagiName">Raagi Name</label>
              <br>
              <select class="form-control"
                      name="raagiName"
                      id="raagiName"
                      ngModel
                      required>
                <option value="" disabled selected>Select Raagi Name</option>
                <option *ngFor="let raagi_name of raagi_names" >{{raagi_name}}</option>
                <option value="Other">Other</option>
              </select>
            </div>

            <!-- New Raagi Name -->
            <div class="form-group" *ngIf="recordingForm.value.raagiName == 'Other'">
              <label for="newRaagiName">New Raagi Name</label>
              <br>
              <input type="text"
                     class="form-control"
                     id="newRaagiName"
                     name="newRaagiName"
                     ngModel>
            </div>

            <!-- Recording Title -->
            <div class="form-group">
              <label for="recordingTitle">Recording Title</label>
              <br>
              <input type="text"
                     class="form-control"
                     id="recordingTitle"
                     name="recordingTitle"
                     ngModel
                     required>
            </div>

            <!-- Recording URL -->
            <div class="form-group">
              <label for="recordingURL">Recording URL</label>
              <br>
              <input type="text"
                     class="form-control"
                     id="recordingURL"
                     name="recordingURL"
                     ngModel
                     required>
            </div>

            <!-- Recording Date - Must be in DD-MM-YYYY -->
            <div class="form-group">
              <label>Recording Date</label>
              <ng2-datepicker
                [options]="options"
                id="recordingDate"
                name="recordingDate"
                ngModel>
              </ng2-datepicker>
            </div>

            <!-- Add Shabads -->
            <!--<md-list-item *ngFor="item in shabadList">-->
            <!--<label for="shabadEnglishTitle"></label>-->
            <!--<input type="text" class="form-control" id="shabadEnglishTitle" name="shabadEnglishTitle" ngModel>-->
            <!--</md-list-item>-->

            <!-- Add Shabads -->
            <!--<div class="form-group">-->
            <!--<label>Add Shabads</label>-->
            <!--<br>-->
            <!--<div class="form-inline"-->
            <!--*ngFor="let shabad of shabadList; let i = index">-->
            <!--Shabad {{i+1}}-->
            <!--<input-->
            <!--type="text"-->
            <!--class="form-control"-->
            <!--id="newShabad"-->
            <!--name="shabad.newShabadEnglishTitle"-->
            <!--ngModel>-->
            <!--<br><br>-->
            <!--</div>-->
            <!--<button (click)="shabadList.push({})" type="button" class="btn btn-default btn-sm">-->
            <!--<span class="glyphicon glyphicon-plus"></span> Add New Shabad-->
            <!--</button>-->
            <!--</div>-->


            <div formArrayName="shabads">
              <label>Add Shabads</label>
              <div
                class="form-group"
                *ngFor="let newShabad of shabadFormGroup.get('shabads').controls; let i = index">
                <input type="text" class="form-control" [formControlName]="i">
              </div>

              <button (click)="onAddNewShabad()" type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-plus"></span> Add New Shabad
              </button>
            </div>

            <button type="submit" class="btn btn-default" >Submit</button>
          </form>
        </div>

      </title>
</head>
<body>

</body>
</html>
